html, body {
  background-color: #BA6126;
}
h1 {
  color: #9F193A;
  text-shadow: 1px 1px 1px #000000;
cursor: default;
}
h2 {
  color: #9F193A;
cursor: default;
}
h3 {
  color: #7B142E;
  margin: 5px;
cursor: default;
}


p, li {
  width: 60%;
  color: #473144;
  margin: 20px;
  font-size: 20px;
cursor: default;
}

dt {
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.4);
  width: 60%;
  color: #473144;
  margin: 20px;
  font-size: 20px;
}

dd {
  width: 60%;
  color: #473144;
  margin: 20px;
  font-size: 20px;
  padding-left: 16px;
    line-height: 0.8;
}

img {
    
}

img:hover {
    opacity: 0.9;
    cursor: default;
}

.box {
  background-color:#DE9768;
  border: 2px solid #552C11;
  padding-top: 30px;
  padding-right: 200px;
  padding-bottom: 30px;
  padding-left: 100px;
  margin: 10px;
}
a:link {
  color: #9F193A;
  background-color: transparent;
  text-decoration: underline 1px;
}
a:visited {
  color: #9F193A;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #E34F74;
  background-color: transparent;
  text-decoration: underline 1px;
}
a:active {
  color: #ffff00;
  background-color: transparent;
  text-decoration: underline;
}
abbr[title] {
  border-bottom: none;
  cursor: inherit;
  text-decoration: underline 1px;
  font-style: italic;
  color:
}
ul {
  list-style-type: square;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.2);
}

.personality {
    float :right;
}
